*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




/* git remote add origin main https://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@github.com/sirwes4062/sirwes4062/testing-github.git



/sirwes4062/testing-github

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 */